In [14]:
# Import the Pandas dependency.
import pandas as pd
pd.set_option('max_colwidth', 400)
#Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv("contacts_string_data.csv")
contacts_string_df.head()

                                                               contact_info
0   contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr
1          contact_id 3765 name Mariana Ellis email mariana.ellis@rossi.org
2            contact_id 4187 name Sofie Woods email sofie.woods@riviere.com
3  contact_id 4941 name Jeanette Iannotti email jeanette.iannotti@yahoo.com
4        contact_id 2199 name Samuel Sorgatz email samuel.sorgatz@gmail.com

In [13]:
# Extract the four-digit contact ID number.
pd.set_option('max_colwidth', 400)
contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')
contacts_string_df

,contact_info,contact_id
0,contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr,4661
1,contact_id 3765 name Mariana Ellis email mariana.ellis@rossi.org,3765
2,contact_id 4187 name Sofie Woods email sofie.woods@riviere.com,4187
3,contact_id 4941 name Jeanette Iannotti email jeanette.iannotti@yahoo.com,4941
4,contact_id 2199 name Samuel Sorgatz email samuel.sorgatz@gmail.com,2199
...,...,...
995,contact_id 3684 name Whitney Noack email whitney.noack@laboratorios.org,3684
996,contact_id 5784 name Gelsomina Migliaccio email gelsomina.migliaccio@junk.com,5784
997,contact_id 1498 name Evangelista Pereira email evangelista.pereira@thompson-peterson.biz,1498
998,contact_id 6073 name Gareth Comolli email gareth.comolli@tiscali.fr,6073
999,contact_id 4939 name Michelangelo Hess email michelangelo.hess@bouygtel.fr,4939

In [3]:
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"

In [4]:
# Extract the first and last name after the word "name". 
import re
name = re.findall(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco', 'il cecilia']

In [5]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

In [6]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

In [12]:
names_df = contacts_string_df['contact_info'].str.extract(r'([^email\s]+[A-Za-z])')
#contacts_string_df['contact_info']
names_df 

#contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"

      0
0    co
1    co
2    co
3    co
4    co
..   ..
995  co
996  co
997  co
998  co
999  co

[1000 rows x 1 columns]

In [8]:
# Extract the email address using a regular expression pattern. 
email_address = re.findall(r'(\S+@\S+)',string_data)
email_address

['cecilia.velasco@rodrigues.fr']